.App {
  text-align: left;
}

.App-header {
  height: 50px;
  padding: 10px;
  color: white;
  background-color: grey;
}

.App-title {
  font-size: 1.5em;
}

.dream-container {
  display: flex;
}

.dream {
  margin-left: 2rem;
  background-color: lightblue;
  padding: 1rem;
}
